<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Camera</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button expand="block" routerLink="/home" color="secondary">Home 🏠</ion-button>
  <ion-button expand="block" (click)="takePhoto()" id="takePhotoButton">Take a photo 📸</ion-button>

  <ion-card *ngIf="photo">
    <ion-card-header>Your Photo! 🖼️</ion-card-header>
    <ion-card-content>
      <img [src]="photo" *ngIf="photo" width="100%">
    </ion-card-content>
  </ion-card>

</ion-content>
